body {
    background-color: #ccc;
}

section .slide {
    width: 70%;
    height: 400px;
    margin: auto;
    position: relative;
}

section .slide span {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: thistle;
    padding: 3px 10px;
    border: 1px solid #F00;
    /* border-top: 1px solid #F00;
    border-left: 1px solid #F00; */
    color: saddlebrown;
}

section .slide .slide-img {
    width: 100%;
    height: 100%;
}

section .slide .slide-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

section .slide .slide-control i {
    /* background-color: #f00; */
    color: #fff;
    position: relative;
    top: -230px;
    cursor: pointer;
}

section .slide .slide-pagination {
    text-align: center;
}

section .slide .slide-pagination ul li {
    display: inline-block;
    padding: 0 5px;
}

.active {
    border-bottom: 1px solid #333;
    background-color: thistle;
    border: 1px solid #F00;
    color: saddlebrown;
}